html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.button {
  margin: 0 px;
  background-color: #e7e7e7;
  color: black !important;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #000;
  color: white !important;
}

.map {
  font-family: 'Roboto', sans serif;
}
.map__container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F1;
}
.map__heading {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.75rem;
  background-color: rgba(0, 0, 100, 0.59);
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.map__rotate-left {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.75rem;
  background-color: rgba(0, 0, 100, 0.59);
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.map__rotate-right {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.75rem;
  background-color: rgba(0, 0, 100, 0.59);
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.map__zoom-in {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.75rem;
  background-color: rgba(0, 0, 100, 0.59);
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.map__zoom-out {
  position: absolute;
  bottom: 1rem;
  right: 4rem;
  font-size: 1.75rem;
  background-color: rgba(0, 0, 100, 0.59);
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.map__image {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.map__image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  will-change: transform;
  transform-origin: update;
  transition: transform 150ms ease;
}
.map__svg {
  object-fit: contain;
  width: 100%;
  height: 100%;
  object-position: center;
}
.map__footer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: rgba(0, 0, 100, 0.59);
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.25rem;
}
